<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://raspberryfunctionapp20240506172214.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/49c534f2-5b04-41c9-bab0-7d94bed06bb9/resourcegroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/raspberryFunctionApp20240506172214</ResourceId>
    <UserName>$raspberryFunctionApp20240506172214</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://raspberryfunctionapp20240506172214.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>